<html>
   <head>
      <title>Ticketr - Buy Ticket</title>
      {% load staticfiles %}
       {% load ticket_extras %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<body>
 {% include 'menu.html' %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="margin-bottom: 0;">
                <p class="text-center lead" style="color: white;">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
 <div class="container">
     <div class="row">
         <div class="col-md-1">

         </div>
         <div class="col-md-7">
             <h3>{{ event.name }}</h3>
             <p class="lead">{{ event.location }} - {{ event.start_date }}, {{ event.start_time }}<br/>
             <small>{{ event.event_owner}} </small></p>
             <div class="alert alert-warning">
                 <strong>Warning!</strong> If you navigate away from this page, your ticket(s) will be released to the general public for sale. This may prevent you from getting a ticket, especially if the event sells out. The tickets will be released once the timer runs out aswell.
            </div><br/>
            <div class="panel panel-default">
              <div class="panel-heading">Buy Ticket(s) {% if resell %}- You are buying a resold ticket {% endif %} </div>
              <div class="panel-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Quantity</th>
                            <th>Name</th>
                            <th>Price</th>
                              <th>Sub Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ quantity }}</td>
                            <td>{{ ticket.name|remove_key:"#ENAME-" }}</td>
                            <td>&euro;{{ ticket.price }}</td>
                              <td>&euro;{{ subtotal }}</td>
                          </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Booking Fee:</td>
                            <td>&euro;{{ fees }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>Total:</strong></td>
                            <td>&euro;{{ total }}</td>
                        </tr>
                        </tbody>
                      </table>
                  {% if invite_code %}
                      <div class="pull-right">
                          Using invite code: {{ invite_code }}
                      </div>
                  {% endif %}
              </div>
            </div>
             {% if user.is_anonymous %}
                 <form name="register-buy" action="/confirm-order/" method="post">
                 <input type="hidden" name="register" value="yes">
                 <input type="hidden" name="ticket" value="{{ ticket.name }}">
                 <input type="hidden" name="quantity" value="{{ quantity }}">
                 <input type="hidden" name="ticket_price" value="{{ ticket.price }}">
                 <input type="hidden" name="subtotal" value="{{ ticket.price }}">
                 <input type="hidden" name="total" value="{{ total }}">

                     {% if resell %}
                         <input type="hidden" name="resell_paypal_email" value="{{ resell.paypal_email }}">
                         <input type="hidden" name="resell_id" value="{{ resell.id }}">
                     {% else %}
                        <input type="hidden" name="organiser_paypal_email" value="{{ ticket.event.event_owner.paypal_email }}">
                     {% endif %}

                     <div class="panel panel-default">
                      <div class="panel-heading">Register an account</div>
                        <div class="panel-body">
                            <p><strong>You need to register an account to use Ticketr! Don't worry just pick a password and it will be setup. All your tickets will be saved under your account for you to access. We'll also email you a copy!</strong></p>
                            <div class="form-group">
                                    <label for="discount_code">Discount Code:</label>
                                    <input class="form-control" id="discount_code" type="text" name="discount_code">
                              </div>
                              <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required="required">
                              </div>
                              <div class="form-group">
                                <label for="first_name">First Name:</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" required="required">
                              </div>
                                                  <div class="form-group">
                                <label for="last_name">Last Name:</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" required="required">
                              </div>
                                                  <div class="form-group">
                                <label for="email_address">Email address:</label>
                                <input type="email_address" class="form-control" id="email_address" name="email_address" required="required">
                              </div>
                                                                      <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required="required">
                              </div>
                        </div>
                    </div>
                     {% csrf_token %}
                 <input type="submit" class="btn btn-success btn-block" value="Register and Purchase (PayPal)">
                 </form>
             {% else %}
                 <form name="buy" action="/confirm-order/" method="post">
                 <input type="hidden" name="ticket" value="{{ ticket.name }}">
                 <input type="hidden" name="quantity" value="{{ quantity }}">
                 <input type="hidden" name="ticket_price" value="{{ ticket.price }}">
                 <input type="hidden" name="subtotal" value="{{ ticket.price }}">
                 <input type="hidden" name="total" value="{{ total }}">

                     {% if resell %}
                         <input type="hidden" name="resell_paypal_email" value="{{ resell.paypal_email }}">
                         <input type="hidden" name="resell_id" value="{{ resell.id }}">
                     {% else %}
                        <input type="hidden" name="organiser_paypal_email" value="{{ ticket.event.event_owner.paypal_email }}">
                     {% endif %}

                     <div class="panel panel-default">
                      <div class="panel-heading">Account Details</div>
                        <div class="panel-body">
                            <div class="form-group">
                                    <label for="discount_code">Discount Code:</label>
                                    <input class="form-control" id="discount_code" type="text" name="discount_code">
                              </div>
                            <p>Username:<br/>{{ user.username }} <small>Not you? <a href="logout">(Logout)</a></small>
                            <input type="hidden" name="username" value="{{ user.username }}">
                          <div class="form-group">
                            <label for="first_name">First Name:</label>
                            <input type="text" class="form-control" id="first_name" value="{{ request.user.first_name }}" name="first_name" required="required">
                          </div>
                                              <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input type="text" class="form-control" id="last_name" value="{{ request.user.last_name }}" name="last_name" required="required">
                          </div>
                                              <div class="form-group">
                            <label for="email_address">Email address:</label>
                            <input type="email_address" class="form-control" id="email_address"  value="{{ request.user.email }}" name="email_address" required="required">
                          </div>
                        </div>
                    </div>
                     {% csrf_token %}
                 <input type="submit" class="btn btn-success btn-block" value="Purchase (PayPal)">
                 </form>
             {% endif %}
         </div>
         <br/>
         <div class="col-md-3"><img src="/media/images/event_images/{{ event.image }}" width="100%" height="150px">
             <br/><br/>
            <div class="panel panel-default">
              <div class="panel-heading">Ticket(s) will be held for:</div>
                <div class="panel-body"><p class="lead"><span id="time">05:00</span></p></div>
            </div>
             <div class="panel panel-default">
              <div class="panel-heading">Where and When:</div>
                <div class="panel-body">{{ event.location }}<br/><br/>{{ event.start_time }} - {{ event.start_date }}<br/>{{ event.end_time }} - {{ event.end_date }}</div>
            </div>
             <div class="panel panel-default">
              <div class="panel-heading">Organiser:</div>
                <div class="panel-body"><a href="" class="btn btn-default btn-block" role="button">Organiser Profile</a><br/><br/>
                <a href="#" class="btn btn-default btn-block" role="button">Contact Organiser</a></div>
            </div>
         </div>
         <div class="col-md-1">

         </div>
     </div>
<script>
    function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            window.location="/ticket-timeout/{{ token }}";
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 60 * 5,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};

window.addEventListener("beforeunload", function (e) {
      $.ajax({
        url: '/ticket-timeout/{{ token }}',
        type: 'GET',
        async: false,
        timeout: 4000
    });
});
</script>
   {% include 'footer.html' %}
 </div>
</body>
</html>