<html>
    <head>
        <title>Ticketr - {{ event.name }}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>

    <body>
    {% include 'menu.html' %}
      <div style="background: url('{% static 'images/background1.png' %}'); background-size: 100% 100%; background-attachment: fixed; height: 375px">
              <div class="container">
<br/><br/>
        <div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4"><img src="{{ event.image }}" width="100%" height="227px"></div>
      <div class="col-md-4"><h1>{{ event.name }}</h1>
          <p class="lead">by {{ event.event_owner }}<small><br/>{{ event.start_date }}</small></p>
      <p><br/>
          <strong>&euro;{{ event.ticket_price }}0</strong></p>

          <a href="#" class="btn btn-success btn-block" role="button">Tickets</a>
      </div>
      <div class="col-md-2"></div>
    </div></div>
</div>
    </div>

      </div>
    </body>
</html>