{% for field in form %}
    {% if field.errors %}
        <div class="alert alert-danger">
          <strong>Error</strong> {{ field.errors }}
        </div>
    {% endif %}
    {% if 'ticket1_name' in field.label_tag %}
        <p class="lead">2. Tickets</p>
    {% endif%}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
          {% if 'ticket' in field.label_tag %}
              <div class="row">
            <div class="col-xs-8">
          {% endif %}
          <div class="form-group">
        <label>{{ field.label_tag }}</label>
        {{ field }}
      </div>
      {% if 'ticket' in field.label_tag %}
          </div>
          </div>
          {% endif %}

      </div>
      <div class="col-md-1"></div>
    </div>
{% endfor %}