<hr/>
{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"><img src={% static "images/logo.png" %} alt="" height="44"></div>
        <p>Platform for Event Owners and Event Organisers</p>
        <p><i class="fa fa-envelope"></i>&nbsp; ticketr@markbarrettdesign.com</p>

      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LINKS</h6>
        <a href="{% url 'api-home' %}">API</a><br/>
        <a href="#">Help</a><br/>
        <a href="#">Terms</a>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
<div style="background-color: #333333; height: 25px;">
<div class="pull-right">
    <p style="color: white;">Copyright &copy; Ticketr 2017. Made pretty with Bootstrap, powered by Django and Python, built and programmed by Mark Barrett</p>
</div>
</div>
<!--footer start from here-->
