{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
</div>
<footer style="position: fixed; bottom: 0; width:100%; color: white;">
<div style="background-color: #333333; height: 25px;">
    <div class="container">
        <p style="color: white;" class="text-center">Copyright &copy; Ticketr 2017. Made pretty with Bootstrap, powered by Django and Python, built and programmed by Mark Barrett</p>
    </div>
</div>

</footer>
<br/>
<!--footer start from here-->
