<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticketr Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
{% include 'menu.html' %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="margin-bottom: 0;">
                <p class="text-center lead" style="color: white;">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div style="background: url('{% static 'images/background1.png' %}'); background-size: 100% 100%; background-attachment: fixed; height: 275px">
<div class="row"><br/><br/>
  <div class="col-md-3"></div>
  <div class="col-md-6"><div class="panel panel-default">
      <div class="panel-body"><p class="lead text-center">Login - <small>Welcome back!</small></p>
      {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'form_template.html' %}
            <div class="form-group">
                <div class="row text-center">
  <div class="col-md-3"></div>
  <div class="col-md-6"><button type="submit" class="btn btn-success btn-block">Login</button>
  <a href="/register" class="btn btn-info btn-block" role="button">Don't have an account? Register now!</a>
  </div>
  <div class="col-md-3"></div>
</div><br/>
                <p class="text-center"><small>By signing up you agree to the Ticketr's <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</small></p>
            </div>
        </form>



      </div>
</div>
      {% include 'footer.html' %}</div>
</body>
</html>