<ul class="nav nav-pills nav-stacked">
  <li><a href="/manage-event/{{ event.id }}"><span class="glyphicon glyphicon-dashboard"></span> Event Dashboard</a></li>
  <li><a href="/manage-event/orders/{{ event.id }}"><span class="glyphicon glyphicon-euro"></span> Orders</a></li>
  <li><a href="/manage-event/tickets/{{ event.id }}"><span class="glyphicon glyphicon-qrcode"></span> Tickets</a></li>
  <li><a href="/manage-event/discount-codes/{{ event.id }}"><span class="glyphicon glyphicon-tag"></span> Discount/Invite Codes</a></li>
  <li><a href="/guest-list/{{ event.id }}"><span class="glyphicon glyphicon-user"></span> Guest List</a></li>
  <li><a href="/manage-settings/{{ event.id }}"><span class="glyphicon glyphicon-cog"></span> Resell & Event Settings</a></li>
  <li><a href="/view-checkins/{{ event.id }}"><span class="glyphicon glyphicon-ok"></span> Check-In</a></li>
  <li><a href="/event/{{ event.id }}"><span class="glyphicon glyphicon-share"></span> View Event</a></li>
</ul>