<ul class="nav nav-pills nav-stacked">
  <li><a href="/manage-event/{{ event.id }}">Event Dashboard</a></li>
  <li><a href="/manage-event/orders/{{ event.id }}">Orders</a></li>
  <li><a href="/manage-event/tickets/{{ event.id }}">Tickets</a></li>
  <li><a href="/manage-codes/{{ event.id }}">Discount/Invite Codes</a></li>
  <li><a href="/manage-list/{{ event.id }}">Guest List</a></li>
  <li><a href="/manage-integration/{{ event.id }}">Integration</a></li>
  <li><a href="/manage-settings/{{ event.id }}">Resell & Event Settings</a></li>
</ul>