<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticketr - My Tickets</title>
    {% load staticfiles %}
    {% load ticket_extras %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
 {% include 'menu.html' %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="margin-bottom: 0;">
                <p class="text-center lead" style="color: white;">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
 <div class="container">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10"><h2>My Tickets</h2>
  <hr/>
    <div class="row">
    {% if tickets %}
        {% for ticket in tickets %}
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                  {% if ticket.for_sale == True %}
                  <div class="alert alert-success">
                      <strong>This ticket is listed for sale. </strong> <a style="color: white;" data-toggle="modal" data-target="#remove{{ ticket.order_number }}">Click here to remove it from the sale list.</a>
                    </div>
                      <!-- Modal -->
                        <div id="remove{{ ticket.order_number }}" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Are you sure?</h4>
                              </div>
                              <div class="modal-body">
                                <p>You are about to remove this ticket:<br/><br/>
                                {{ ticket.ticket.name|remove_key:"#ENAME-" }}<br/>
                                <br/>
                                From the resellers list, are you sure?</p>
                              </div>
                              <div class="modal-footer">
                                <a href="/remove-sale/{{ ticket.order_number }}" class="btn btn-success">Remove from List</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              </div>
                            </div>

                          </div>
                        </div>
                  {% endif %}
                      <div class="row">
                          <div class="col-md-4">
                              <img src="/media/images/event_images/{{ ticket.event.image }}" width="140" height="70">
                          </div>
                          <div class="col-md-8">
                              {{ ticket.event.start_date }} @ {{ ticket.event.start_time }}<br/>
                              <strong>
                                  {% if ticket.event.name|length > 30 %}
                                      {{ ticket.event.name|truncatechars:30 }}
                                  {% else %}
                                      {{ ticket.event.name }}
                                  {% endif %}
                                  <br/>
                                  {{ ticket.event.event_owner.name }}<br/><small>{{ ticket.ticket.name|remove_key:"#ENAME-" }}</small>
                              </strong>
                          </div>
                      </div>
                  <br/>
                      <a href="/download-ticket/{{ ticket.order_number }}" class="btn btn-success btn-xs">Download Ticket (PDF)</a>
                      <a href="/view-order/{{ ticket.id }}" class="btn btn-success btn-xs">View Order</a>
                      <a href="/resell-ticket/{{ ticket.id }}" class="btn btn-success btn-xs">Resell Ticket</a>
                      <a href="mailto:{{ ticket.event.event_owner.owner.email }}" class="btn btn-success btn-xs">Contact Organiser</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
  {% else %}
    <p>&nbsp;&nbsp;&nbsp; You do not have any tickets yet :(</p>
  {% endif %}
  </div>
  <div class="col-md-1"></div>

             {% include 'footer.html' %}
 </div>
</body>
</html>