<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticketr Organiser Profiles</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
{% include 'menu.html' %}
    <div style="background: url('{% static 'images/background1.png' %}'); background-size: 100% 100%; background-attachment: fixed; height: 275px">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="margin-bottom: 0;">
                <p class="text-center lead" style="color: white;">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
<div class="container">
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8"><br/><br/>
      <div class="panel panel-default">
  <div class="panel-body">
  <div class="pull-right">
  <a href="/create-organiser" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus"></span> Create Organiser Profiler</a>
  </div>
      <h3>Organiser Profiles</h3>
      <hr/>
      {% for profile in profiles %}
          <div class="row">
  <div class="col-md-3"><img src="{{ profile.image }}" class="img-circle" alt="{{ profile.name }}" width="150" height="150"></div>
  <div class="col-md-9"><h3>{{ profile.name }}</h3>
  {% if profile.facebook is not None %}
      <a href="{{ profile.facebook }}" class="btn btn-primary" role="button">Facebook</a>
  {% endif %}
  {% if profile.website is not None %}
<a href="{{ profile.website }}" class="btn btn-default" role="button">Website</a>
  {% endif %}</div>
</div><br/>
      {% endfor %}
  </div>
</div>
  </div>
  <div class="col-md-2">

  </div>
</div>{% include 'footer.html' %}

</body>
</html>