<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Ticketr - View Order</title>
      {% load staticfiles %}
       {% load ticket_extras %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<body>
   {% include 'menu.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10"><br/>
        <a class="btn btn-success btn-xs" href="/my-tickets/">< Back to My Tickets</a>
            <h2>Order for: <a href="/event/{{ order.event.id }}">{{ order.event.name }}</a></h2>
            <hr/>
        <div class="pull-right">QR CODE WILL GO HERE</div>
            <p>
            Order Number: {{ order.order_number }} for {{ order.payment_amount }} on {{ order.order_date }}<br/>
                <strong>Event:</strong> <br/>{{ order.event.name }}<br/>
                {{ order.event.start_date }} @ {{ order.event.start_time }} - {{ order.event.end_date }} @ {{ order.event.end_time }}<br/>
                <strong>Ticket:</strong> {{ order.ticket.name|remove_key:"#ENAME-" }}<br/>
                <strong>Used: </strong> {% if order.used is True %} Yes {% else %} No {% endif %}<br/>
                <strong>Payment Method: </strong> PayPal<br/>
                <strong>Payment Amount: </strong> &euro; {{ order.payment_amount }}<br/><br/>
                {% if order.user == request.user %}<a class="btn btn-success" href="/download-ticket/{{ order.order_number }}">Download Ticket PDF</a>{% endif %}
            </p>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>